.rainy {
    background-color: $background-color;
    background-image: url("../img/rainy.jpg");
}

.cloudy {
    background-color: $fog-color;
    background-image: url("../img/cloudy.jpg");
}

.snowy {
    background-color: $background-color;
    background-image: url("../img/snowy.jpg");
}

.night {
    background-color: $night-color;
    background-image: url("../img/night.jpg");
}

.thunder {
    background-color: $fog-color;
    background-image: url("../img/thunderstorm.jpg");
}